<!DOCTYPE html>
<html>
<head>

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    {{! Viewport mobile tag for sensible mobile support }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {{! Meta }}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="I'm a computer science major and web developer; I'm passionate about web development and strive for excellence in the craft." />
    <meta name="keywords" content="Schneidmaster, Zach, Schneider, web, development, design, website, troubleshooting, Cedarville, Xenia, Springfield, Yellow, Springs, Dayton, Ohio" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "built/style.min.css"}}" />
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    {{! Favicon }}
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Navigation }}

    <div class="top-bar-wrapper"> 
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                {{!  Title Area }}
                <li class="name">
                    <h1>
                        <a href="/">
                            Zach Schneider
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                {{!  Right Nav Section }}
                <ul class="right">
                    <li class="divider"></li>
                    <li><a href="http://schneidmaster.com/">Home</a></li>
                    <li class="divider"></li>
                    <li><a href="http://schneidmaster.com/about">About</a></li>
                    <li class="divider"></li>
                    <li><a href="http://schneidmaster.com/projects">Projects</a></li>
                    <li class="divider"></li>
                    <li><a href="/">Blog</a></li>
                    <li class="divider"></li>
                    <li><a href="http://schneidmaster.com/contact">Contact</a></li>
                </ul>
            </section>
        </nav>
    </div>

    {{! End Top Bar }}

    {{! Everything else gets inserted here }}
    <div class="row row-first">
        <div class="large-12 columns">
            {{{body}}}
        </div>
    </div>

    {{! Footer }}
 
    <footer class="row">
        <div class="large-12 columns"><hr>

            <div class="row">

            <div class="small-10 columns">
                <p>
                    &copy; Zach Schneider 2014. <br>Proudly published with <a class="icon-ghost" href="https://ghost.org">Ghost</a>.  
                </p>
            </div>

            <div class="small-2 columns">
                <a class="subscribe icon-feed right" href="{{@blog.url}}/rss/"></a>
            </div>

            </div>
        </div>
    </footer>
 
    {{! End Footer }}

    {{! Javascripts }}
    <script type="text/javascript" src="{{asset "built/schneidseven.min.js"}}"></script>

</body>
</html>
