{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<div class="row blog-header">
    <div class="large-2 push-3 columns">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
    </div>
    <div class="large-4 pull-3 columns">
        <h2>{{@blog.title}}</h2>
        <p>{{@blog.description}}</p>
    </div>
</div>
<hr>

<h1 class="tag-header">{{tag.name}}</h1>
<hr>

{{! Each post will be output using this markup }}
{{#foreach posts}}

<article class="{{post_class}}">
    <header class="post-header">
        <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="in "}}</span>
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

    </header>
    <section class="post-excerpt">
        <p>{{excerpt}}&hellip;</p>
    </section>
</article>

{{/foreach}}

{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}
